!!! 5
html(lang='en')
  head
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/main.css')
    title Boulder.js - A JavaScript Group in Boulder, Colorado
body
  .container
    .row: .span12
      header
        h1 boulder.js
    .row: .span12
      section: block content