!!! 5
html(lang='en')
  head
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/main.css')
    title Boulder.js - A JavaScript Group in Boulder, Colorado
body
  .container
    .row: .span12: header: h1 boulder.js
    .row: .span12: section: block content
    footer
      a(href="http://www.github.com/gerred/boulderjs", target="new") 
        | All source released under the MIT License.
      a(href="http://www.w3.org/html/logo/", 
        alt="HTML5 Logo by the World Wide Web Consortium")
        img(src="/img/HTML5_Badge_64.png")