li
  .row
    .thumbnail.span2
      img(src="/img/gerred.jpeg")
    .span2
      h4 Gerred Dillon
      a(href="http://www.gerred.com") http://www.gerred.com
      a(href="mailto:hello@gerred.com") hello@gerred.com
      a(href="https://twitter.com/justicefries") @justicefries
    .span5
      h4 Projects
      ul.unstyled.projects
        li: a(href="#") project
        li: a(href="#") another project
        li: a(href="#") project
        li: a(href="#") project
        li: a(href="#") project
        li: a(href="#") more project
        li: a(href="#") project
        li: a(href="#") project
        li: a(href="#") project
        li: a(href="#") project
        li: a(href="#") project
        li: a(href="#") project
        li: a(href="#") project
        li: a(href="#") project
        li: a(href="#") project
        li: a(href="#") project
        li: a(href="#") project
        li: a(href="#") project